@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* overflow-y: auto; */
}
.container{
    margin: 0 auto;
}
.attendance-table {
    width: 100%;
    overflow-x: auto;
}

.attendance-table table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.attendance-table th,
.attendance-table td {
    padding: 10px;
    border: 1px solid #ddd;
}
.attendance-table .attendance-status {
    width: 40px;
}

.attendance-table th {
    background-color: #f4f4f4;
}

.attendance-table td {
    background-color: #fff;
}
.ant-picker-calendar-date-today{
    background-color: green !important;
    color: white !important;
}
.ant-picker-calendar-date-today{
    background-color: green !important;
    color: white !important;
}
.ant-picker-calendar-date-today:hover{
    cursor: pointer;
    border: 1px solid green !important;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.ant-picker-cell-inner{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 40px !important;
    width: 40px !important;
}
.ant-dropdown-link{
    padding: 0 !important;
    margin: 0 !important;
}
element .style{
    min-height: 100vh !important;
}
:where(.css-dev-only-do-not-override-98ntnt).ant-layout.ant-layout-has-sider {
    flex-direction: column !important;
}